:root {

    /* ---- Design System ---- */
    
    /* Font sizes */

    --normal-font-size-1: 1rem;             /* font-size: 16px */
    --normal-font-size-2: 1.125rem;         /* font-size: 18px */
    --medium-font-size-1: 1.25rem;          /* font-size: 20px */
    --medium-font-size-2: 1.5rem;           /* font-size: 24px */
    --large-font-size-1: 2.5rem;            /* font-size: 40px */
    --large-font-size-2: 3rem;              /* font-size: 48px */
    --line-height-1: 1.2;
    --line-height-2: 1.3;


    /* Colors */
    
    --main-accent-color-1: #5974ff;                                         /* Pro Tier Card Background, FAQ Category Active Item, FAQ List Item Arrow Icon Active */
    --secondary-accent-color-1: #1741ac;                                    /* Section Title Text Emphasis, Instruction title, Tier Title on white*/
    --secondary-accent-color-2: #1b8de4;                                    /* Icons */
    --secondary-accent-color-3: #70abd7;                                    /* Service Button border, text, icon */
    --dark-text-color-1: #01003a;                                           /* Menu Text */
    --dark-text-color-2: #111111;                                           /* Section Title */ 
    --dark-text-color-3: #303030;                                           /* Icon Titles, FAQ Section: question */ 
    --dark-text-color-4: #484848;                                           /* Instructions Descriptions, Tier Benefits on white */ 
    --dark-text-color-5: #585858;                                           /* Instruments name */ 
    --dark-text-color-6: #454444;                                           /* Instruments price */ 
    --dark-text-color-7: #989898;                                           /* Section Descriptions */ 
    --dark-text-color-8: #707070;                                           /* FAQ Section: answer, Footer Disclaimer */ 
    --dark-text-color-9: #666666;                                           /* FAQ Categories Items on white */ 
    --white-text-color-1: #ffffff;                                          /* Hero Section Title, Main Button Text, Tier Title on blue background, Tier Benefits on blue background, FAQ Section Active Category Text  */ 
    --white-text-color-2: #dddddd;                                          /* Hero Section Description on dark background */ 
    --green-text-color: #1fab2d;                                            /* Instruments Grow Percentage Text and Arrow Up*/ 
    --ghost-button-text: #305aef;                                           /* Blue Ghost Button Text Color*/
    --filled-button-static-color: #305aef;                                  /* Filled Button Static Color */
    --filled-button-hover-color: #3962f4;                                   /* Filled Button Hover Color */   
    --filled-button-active-color: #0033e8;                                  /* Filled Button Active color */
    --ghost-button-static-border-1: #305aef;                                /* Blue Ghost Button Static Border Color and Text Color */
    --ghost-button-hover-background-1: #C4C4C4;                             /* Blue Ghost Button Hover Background Color */
    --ghost-button-active-inner-shadow-1: inset 0px 0px 6px #0033e8;        /* Blue Ghost Button Active Inner Shadow Color */
    --ghost-button-static-border-2: #ffffff;                                /* White Ghost Button Static Border Color */
    --ghost-button-hover-background-2: rgba(220, 221, 222, .12);            /* White Ghost Button Hover Background Color */
    --ghost-button-active-inner-shadow-2: inset 0px 1px 8px #dcddde;        /* White Ghost Button Hover Inner Shadow Color */
    --image-overlay-background: rgba(0, 14, 88, 0.41);                   /* Hero Image Overlay Background Color */
    --section-overlay-background: #F5F8FF;                                  /* Sections Overlay Background Color */
    --divider-color-1: #e5f3ff;                                             /* Advantages Section Title and Description Divider, Icon and Icons title Divider */
    --divider-color-2: rgba(89, 116, 255, .1);                              /* Tier Benefits Divider on white, FAQ Categories Divider */
    --divider-color-3: rgba(0, 0, 0, .13);                                  /* Tier Benefits Divider on blue */
    --divider-color-4: rgba(170, 170, 170, .19);                            /* FAQ Content Divider */
    --decoration-color-1: rgba(89, 116, 255, .21);                          /* Decoration Color: Section Membership Instructions*/
    --decoration-color-2: #5974ff;                                          /* Decoration Color: Section Membership Instructions Step Numbers, Arrows */
    --decoration-color-3: #010620;                                          /* Decoration Color: Section Tiers Small Square on Background */
    --decoration-color-4: #969696;                                          /* FAQ List Item Arrow Icon Static */

    /* Miscellaneous */

    --main-border-radius: 5px;
    --box-shadow-on-white: 0px 3px 9px rgba(129, 129, 129, 0.15), inset 2px 2px 4px rgba(245, 245, 245, 0.14);
    --box-shadow-on-blue: 0px 3px 11px rgba(129, 129, 129, 0.24), inset 2px 2px 4px rgba(89, 116, 255, 0.19);
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: var(--line-height-1);
    letter-spacing: 0.035em;
}

body {
    overflow-x: hidden;
}

h1, h2 {
    margin: 0;  
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav_widescreen {
    display: none;
}

header .btn {
    display: none;
}

footer .btn {
    display: none;
}

section:nth-child(2n+3) {
    background-color: var(--section-overlay-background);
}

section:nth-child(n+4) {
    padding-top: 40px;
    padding-bottom: 50px;
}

.text_emphasize {
    color: var(--secondary-accent-color-1);
}

.wrapper {
    width: 87.5vw;
    max-width: 1040px;
    height: 100%;
    margin: auto;
}

.wrapper_logo {
    width: 50px;
    height: 50px;
}

.btn {
    display: inline-block;
    font-size: var(--normal-font-size-1);
    font-weight: 700;
    color: var(--ghost-button-text);
    padding: 12px 37px 12px 37px;
    border-radius: var(--main-border-radius);
}

.btn_fill {
    background-color: var(--filled-button-static-color);
    color: var(--white-text-color-1);
}

.ghost_btn_1 {
    border: 2px solid var(--ghost-button-static-border-1);
}

.ghost_btn_2 {
    border: 2px solid var(--ghost-button-static-border-2);
    color: var(--white-text-color-1);
}

.service_btn {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    border: 1px solid var(--secondary-accent-color-3);
    color: var(--secondary-accent-color-3);
    margin-top: 20px;
}

.service_btn .icon_arrow {
    width: 16px;
    height: 13px;
    margin-left: 5px;
}

.service_btn .icon_arrow path {
    fill: var(--secondary-accent-color-3);
}

.menu li a {
    font-size: var(--normal-font-size-2);
    font-weight: 600;
    color: var(--dark-text-color-1);
}

.slide_content_title {
    font-size: var(--medium-font-size-2);
    font-weight: 700;
    line-height: var(--line-height-1);
    color: var(--white-text-color-1);
}

.slide_content_description {
    font-size: var(--normal-font-size-2);
    font-weight: 500;
    line-height: var(--line-height-1);
    color: var(--white-text-color-2);
    margin-top: 15px;
}

.section_title {
    font-size: var(--medium-font-size-1);
    font-weight: 600;
    line-height: var(--line-height-2);
    color: var(--dark-text-color-2);  
    text-align: center; 
    margin-bottom: 40px; 
}

.section_description {
    font-size: var(--normal-font-size-1);
    font-weight: 500;
    line-height: var(--line-height-2);
    color: var(--dark-text-color-7);     
}

.advantages_funds_item_text {
    font-size: var(--normal-font-size-2);
    font-weight: 700;
    color: var(--dark-text-color-3);
}

.instruments_name {
    font-size: var(--normal-font-size-2);
    font-weight: 600;
    color: var(--dark-text-color-5); 
}

.instruments_price,
.instruments_grow_percentage {
    font-size: var(--normal-font-size-1);
    font-weight: 500;
    color: var(--dark-text-color-6);
}

.instruments_grow_percentage {
    color: var(--green-text-color);
}

.membership_steps_title {
    font-size: var(--medium-font-size-2);
    font-weight: 700;
    color: var(--secondary-accent-color-1);
}

.membership_steps_description {
    font-size: var(--normal-font-size-2);
    font-weight: 500;
    line-height: var(--line-height-2);
    color: var(--dark-text-color-4);   
}

.tier_card_title {
    font-size: var(--medium-font-size-1);
    font-weight: 700;
    color: var(--secondary-accent-color-1);   
}

.tier_card_benefits_title,
.tier_card_benefits_details {
    font-size: var(--normal-font-size-1);
    font-weight: 500;
    color: var(--dark-text-color-4);
}

.faq_list h3 {
    font-size: var(--medium-font-size-1);
    font-weight: 600;
    line-height: var(--line-height-2);
    color: var(--dark-text-color-3);
}

.faq_list p {
    font-size: var(--normal-font-size-1);
    font-weight: 400;
    line-height: var(--line-height-2);
    color: var(--dark-text-color-8);    
}

.faq_category_item_link {
    font-size: var(--normal-font-size-2);
    font-weight: 600;
    color: var(--dark-text-color-9);
}

.footer_disclaimer_text {
    font-size: var(--normal-font-size-2);
    font-weight: 400;
    line-height: var(--line-height-1);
    color: var(--dark-text-color-9);     
}

.wrapper_nav_icon_burger {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

.slide_content_title,
.section_title,
.btn,
.instruments_list_item_name,
.membership_steps_title {
    text-transform: uppercase;
}

.advantages_funds_item:nth-child(n+3) {
    margin-top: 20px;
}

.nav_icon_burger {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 5px;
    background-color: var(--secondary-accent-color-2);
    border-radius: var(--main-border-radius);
}

.nav_icon_burger::before {
    content: '';
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: var(--secondary-accent-color-2);
    border-radius: var(--main-border-radius);
}

.nav_icon_burger::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: var(--secondary-accent-color-2);
    border-radius: var(--main-border-radius);
}

.wrapper_icon_cross {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon_cross {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
}

.icon_cross::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000;
    transform: rotate(90deg);
}

header {
    position: relative;
    top: 0;
    left: 0;
}

.nav_header_mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fbfbfb;
    transform: translateY(-360px);
    transition: 'transform 1s';
    transition-timing-function: 'ease-out';
    z-index: 2;
}

.wrapper_header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav_header_mobile .menu-main-menu-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.nav_header_mobile .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav_header_mobile .menu li:nth-child(n+2) {
    margin-top: 40px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.wrapper_slider {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: 'left 3s';
    transition-timing-function: ease-out;
}

.wrapper_slide_indicators {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
}

.slide_indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(240, 240, 240, 0.82);
    border-radius: var(--main-border-radius);
}

.slide_indicator:nth-child(2) {
    margin-left: 25px;
    margin-right: 25px;
}

.wrapper_slide_content {
    position: relative;
    top: 0;
    left: 0;
    height: 500px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    width: 100%;
}

.wrapper_slide_content:nth-child(n+2) {
    background-position: left;    
}

.wrapper_slide_content::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--image-overlay-background);
}

.wrapper_slide_content .wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.slide_content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-60%);
}

.wrapper_slide_content_description {
    margin-top: 15px;
}

.wrapper_slide_content .btn,
.platform_info_content .btn  {
    margin-top: 20px;
}

/* Advantages */
.advantages_text .section_description {
    position: relative;
    top: 0;
    left: 0;
}

.advantages_text .section_description::before {
    content: '';
    position: absolute;
    top: -26px;
    left: 50%;
    width: 106px;
    height: 8px;
    background-color: var(--divider-color-1);
    transform: translateX(-50%);
    border-radius: var(--main-border-radius);
}

.advantages_funds_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 388px;
    margin: auto;
    margin-top: 30px;
}

.icon_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: var(--main-border-radius);
    box-shadow: var(--box-shadow-on-white);
    margin-bottom: 30px;
}

.icon_overlay::after {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 70px;
    height: 5px;
    background-color: var(--divider-color-1);
    border-radius: var(--main-border-radius);
}

.icon_forex,
.icon_stocks,
.icon_metals,
.icon_crypto {
    width: 105px;
    height: 105px;
}

.icon_forex path,
.icon_metals path,
.icon_crypto path:first-child {
    stroke: var(--secondary-accent-color-2);
    stroke-width: 3;
}

.icon_stocks path,
.icon_crypto path:nth-child(n+2) {
    fill: var(--secondary-accent-color-2);   
}

/* Platform Info */

.wrapper_platform_info {
    position: relative;
    top: 0;
    left: 0;
}

.platform_image_demo {
    display: block;
    margin: auto;
}

.platform_info_content .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.platform_info_content .section_title {
    margin-bottom: 30px;
}

.platform_info_content .section_description {
    margin-top: 20px;
}

/* Instruments */

.instruments_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.instruments_list_item {
    display: flex;
    flex-shrink: 0;
    padding: 23px 30px 23px 20px;
    box-shadow: 0px 3px 9px rgba(129, 129, 129, 0.15), inset 2px 2px 4px rgba(245, 245, 245, 0.14);
    width: 255px;
    height: 100px;
    background-color: #fff;
}

.instruments_list_item:nth-child(4),
.instruments_list_item:nth-child(5),
.instruments_list_item:nth-child(6),
.instruments_list_item:nth-child(7),
.instruments_list_item:nth-child(8) {
	display: none;
}

.instruments_list_item {
    margin-bottom: 15px;
}

.instruments_list_item:last-child {
    margin-bottom: 0;
}

.instruments_list_item .icon_arrow {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
    align-self: end;
}

.instruments_list_item .icon_arrow path {
    fill: var(--green-text-color);
}

.wrapper_instruments_price,
.wrapper_instruments_percentage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper_instruments_price {
    flex-grow: 1;
    margin-left: 20px;
}

.instruments_price,
.instruments_grow_percentage {
    margin-bottom: 5px;
}

.instruments_name,
.instruments_list_item .icon_arrow {
    margin-top: 5px;
}

/* Membership */

.membership_steps_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership_steps_list_item {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    padding: 30px;
    box-shadow: 0px 3px 9px rgba(129, 129, 129, 0.24), inset 2px 2px 4px rgba(245, 245, 245, 0.14);
    border-radius: var(--main-border-radius);  
    background-color: #fff; 
    position: relative;
    top: 0;
    left: 0;
}

.membership_steps_list_item {
    margin-bottom: 30px;
}

.membership_steps_list_item p {
    margin-bottom: 91px;
}

.membership_steps_list_item:last-child {
    margin-bottom: 0;
}

.step_number {
    font-family: SegoeUI, sans-serif;
    font-size: 80px;
    line-height: .75;
    text-shadow: 3px 2px 4px rgba(114, 114, 114, 0.15);
    color: var(--main-accent-color-1);
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.membership_steps_description {
    margin-top: 30px;
}

/* Tiers */

.wrapper_tier_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
    align-items: center;
    max-width: 700px;
    flex-direction: column;
    margin: auto;
}

.tier_card {
    position: relative;
    top: 0;
    left: 0;
    padding: 35px 32px 35px 32px;
    box-shadow: 0px 3px 11px rgba(129, 129, 129, 0.24), inset 2px 2px 4px rgba(245, 245, 245, 0.14);
    border-radius: var(--main-border-radius);
    letter-spacing: -0.015em;
    width: 100%;
    max-width: 285px;
}

.tier_card::before {
    content: '';
    position: absolute;
    top: -20px;
    width: 40px;
    height: 40px;
    background-color: #010620;
    border-radius: var(--main-border-radius);
    z-index: -1;
}

.tier_card:first-child::before {
    background-color: var(--main-accent-color-1);  
    left: -20px; 
}

.tier_card:last-child::before  {
    right: -20px;
}

.tier_card:first-child {
    margin-bottom: 30px;
    background-color: #fff;
}

.tier_card:last-child {
    background-color: var(--main-accent-color-1);
    box-shadow: var(--box-shadow-on-blue);
} 

.tier_card:last-child .tier_card_title {
    color: #fff;
}

.tier_card:last-child .tier_card_benefits_item span {
    color: #ededed;
}

.tier_card .btn {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tier_card_title {
    text-align: center;
}

.tier_card_benefits_list {
    margin-top: 18px;
    margin-bottom: 66px;
}

.tier_card_benefits_item {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tier_card_benefits_item::before {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: var(--divider-color-2);
    border-radius: var(--main-border-radius);
}

.tier_card:last-child .tier_card_benefits_item::before {
    background-color: var(--divider-color-3);    
}

/* FAQ */

.wrapper_faq_question .icon_arrow {
    width: 16px;
    height: 13px;
    flex-shrink: 0;
    transform: rotate(-90deg);
    margin-top: 7px;
    margin-left: 60px;
}

.wrapper_faq_question .icon_arrow path {
    fill: var(--decoration-color-4);
}

.wrapper_faq_question {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wrapper_faq_content:not(.wrapper_faq_content:first-child) {
    margin-top: 30px;
}


.faq_list p {
    display: none;
}

.faq_list p {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 24px;
}

.faq_list p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--divider-color-4);
    border-radius: var(--main-border-radius);
}

.faq_categories_list {
    margin-top: 35px;
    background-color: #fff;
    border-radius: var(--main-border-radius);
    box-shadow: 0px 3px 11px rgba(129, 129, 129, 0.24), inset 2px 2px 4px rgba(245, 245, 245, 0.14);
}

.faq_categories_list .active {
    background-color: var(--main-accent-color-1);
}

.faq_categories_list .faq_category_item:first-child.active {
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
}

.faq_categories_list .faq_category_item:last-child.active {
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);    
}

.faq_categories_list .active .faq_category_item_link {
    color: var(--white-text-color-1);
}

.faq_categories_list .active .faq_category_item_link::before {
    display: none;
}

.faq_category_item {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}

.faq_category_item_link {
    display: block;
    margin-left: 35px;
    margin-right: 35px;
    padding: 22px 8px 18px 8px;
    position: relative;
    top: 0;
    left: 0;
}

.faq_category_item .faq_category_item_link:not(.faq_category_item:last-child .faq_category_item_link):before {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: var(--divider-color-2);
    border-radius: var(--main-border-radius);
}

/* Footer */

footer {
    padding-top: 18px;
    padding-bottom: 28px;
    background-color: #fff;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
}

footer .wrapper {
    position: relative;
    top: 0;
    left: 0;
}

footer .wrapper_logo {
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper_footer_nav {
    display: flex;
    flex-wrap: wrap;
}

.nav_footer {
    margin-left: 110px;
    margin-bottom: 25px;
}

.nav_footer .menu li:not(.nav_footer .menu li:last-child) {
    margin-bottom: 30px;
}

.instruments_list::-webkit-scrollbar {
    height: 8px;
}

.instruments_list::-webkit-scrollbar-track {
    background: var(--divider-color-2);
    border-radius: var(--main-border-radius);
}

.instruments_list::-webkit-scrollbar-thumb {
    background: var(--divider-color-1);
    border-radius: var(--main-border-radius);
}

.instruments_list::-webkit-scrollbar-thumb:hover {
    background: var(--main-accent-color-1);        
}

@supports(scrollbar-color: red blue) {
    .instruments_list {
        scrollbar-color: var(--main-accent-color-1) var(--divider-color-2); 
        scrollbar-width: thin;
    }   
}

/* Form */

.wpcf7 {
    width: 100%;
    max-width: 481px;
    position: absolute;
    top: -485px;
    left: 50%;
    z-index: 6;
}

.wpcf7-form {
    padding: 60px;
    background: #fbfbfb;
    box-shadow: 0px 3px 9px rgba(129, 129, 129, 0.24), inset 2px 2px 4px rgba(245, 245, 245, 0.14);
}

.wpcf7-form p {
    margin-bottom: 20px;
}

.wpcf7-form p:nth-child(5),
.wpcf7-form p:nth-child(6) {
    margin-bottom: 0;
}

.wpcf7-form input:not(.wpcf7-submit) {
    margin-top: 10px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    max-width: 340px;
    border: 1px solid #9b9b9b;
    border-radius: var(--main-border-radius);
}

.wpcf7-submit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: unset;
    border: none;
    margin-top: 35px;
}

/* Media Queries ---------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 680px) {

    .advantages_funds_list {
        justify-content: space-between;
        max-width: unset;
    }

    .advantages_funds_item:nth-child(n+3) {
        margin-top: 0;
    }

    .service_btn {
        display: none;
    }

    .membership_steps_list_item p {
        margin-bottom: 111px;
    }

    .wrapper_tier_cards {
        flex-direction: unset;
    }

    .tier_card:first-child {
        margin-bottom: 0;
    }

    .instruments_list_item:nth-child(4), 
    .instruments_list_item:nth-child(5), 
    .instruments_list_item:nth-child(6), 
    .instruments_list_item:nth-child(7), 
    .instruments_list_item:nth-child(8) {
        display: flex;
    }

    .instruments_list_item:last-child {
        margin-bottom: 15px;
    }

    .instruments_list_item {
        margin-right: 30px;
    }

    .instruments_list_item:last-child {
        margin-right: 0;
    }

    .instruments_list {
        flex-wrap: unset;
        flex-direction: row;
        overflow-x: auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    .snaps_inline {
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 1rem;
    }

    .snaps_inline > * {
        scroll-snap-align: start;
    }

    .instruments_list::-webkit-scrollbar {
        height: 8px;
    }
    
    .instruments_list::-webkit-scrollbar-track {
        background: var(--divider-color-2);
        border-radius: var(--main-border-radius);
    }
    
    .instruments_list::-webkit-scrollbar-thumb {
        background: var(--divider-color-1);
        border-radius: var(--main-border-radius);
    }
    
    .instruments_list::-webkit-scrollbar-thumb:hover {
        background: var(--main-accent-color-1);        
    }
    
    @supports(scrollbar-color: red blue) {
        .instruments_list {
            scrollbar-color: var(--main-accent-color-1) var(--divider-color-2); 
            scrollbar-width: thin;
        }   
    }

    .nav_footer .menu li:not(.nav_footer .menu li:last-child) {
        margin-bottom: 0;
        margin-right: 50px;
    }

    .wrapper_footer_nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    footer .wrapper_logo {
        width: 100px;
        height: 100px;
    }

    .nav_footer .menu {
        display: flex;
    }

    .footer_disclaimer_wrapper {
        margin-left: 110px;
    }
    
}

@media only screen and (min-width: 768px) {

	.slide_content_title {
        font-size: var(--large-font-size-2);
    }
    
    .slide_content_description {
        font-size: var(--medium-font-size-2);
    }
    
    .section_title {
        font-size: var(--medium-font-size-2);
    }
    
    .section_description {
        font-size: var(--normal-font-size-2);  
    }
    
    .tier_card_title {
        font-size: var(--medium-font-size-1);
    }

    .wrapper_nav_icon_burger {
        display: none;
    }

    .wrapper_logo {
        width: 88px;
        height: 88px;
    }

    .nav_header_mobile {
        display: none;
    }

    .nav_widescreen {
        display: block;
    }

    .nav_widescreen .menu {
        display: flex;
    }

    .nav_widescreen .menu li:not(.nav_widescreen .menu li:last-child) {
        margin-right: 50px;
    }

    .nav_widescreen .menu li a {
        transition-duration: .3s;
        transition-property: color;
        transition-delay: .3s;
    }

    .nav_widescreen .menu li a:hover {
        color: #0033e8;
    }
    
    header .btn {
        display: block;
    }

    .wrapper_slide_content {
        height: 632px;
    }

    .wrapper_slide_content:last-child .slide_content_description {
        width: 370px;
    }

    .advantages_text {
        display: flex;
        justify-content: space-between;
    }

    .advantages_text .section_title {
        text-align: left;
        margin-right: 68px;
        min-width: 300px;
        max-width: 500px;
    }

    .advantages_text .section_description {
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 300px;
        max-width: 430px;    
    }

    .advantages_text .section_description::before {
        top: 50%;
        left: -38px;
        width: 8px;
        height: 100%;
        transform: translateY(-50%);
    }

    .wrapper_slide_content .btn, .platform_info_content .btn {
        margin-top: 30px;
    }

    .platform_info_content .section_description {
        margin-top: 40px;
    }

    .membership_steps {
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .membership_steps_list { 
        align-items: unset;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 672px;
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
    }

    .membership_steps_list_item:not(.membership_steps_list_item:last-child) {
        margin-bottom: 72px;
    }

    .membership_steps_list_item {
        position: relative;
        top: 0;
        left: 0;    
    }

    .membership_steps_list_item::before {
        content: '';
        width: 82px;
        height: 82px;
        position: absolute;
        bottom: -40px;
        left: -25px;   
        background-color: var(--decoration-color-1);
        border-radius: var(--main-border-radius);
    }

    .membership_steps_list_item:last-child::before {
        left: unset;
        top: -15px;
        right: -25px;
        z-index: -1;
    }

    .membership_steps_list_item::after {
        content: '';
        width: 40px;
        height: 33px;
        position: absolute;
        top: 50%;
        left: -57px;
        transform: translateY(-50%);
        background-image: url('../images/icon_arrow_decoration.svg');
        background-repeat: no-repeat;
    }

    .membership_steps_list_item:first-child:after {
        left: unset;
        right: -57px;
    }

    .membership_steps_list_item:nth-child(2)::before,
    .membership_steps_list_item:nth-child(2)::after {
        display: none;
    }

    .membership_steps_list::before {
        content: '';
        position: absolute;
        bottom: 44px;
        right: 14px;
        background-image: url('../images/gears_decoration.svg');
        width: 291px;
        height: 211px;
    }

    .tier_card:first-child {
        margin-bottom: 0;
    }

    .wrapper_faq {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 735px;
        margin: auto;
    }

    .faq_categories_list {
        margin-top: 0;
        margin-right: 35px;
        flex-shrink: 0;
    }

    .faq_list {
        width: 55%;
    }

    footer .btn {
        display: block;
        margin-bottom: 25px;
    }

    .nav_footer {
        margin-bottom: 0;
        padding-top: 12px;
    }

    .nav_footer .menu li a {
        transition-duration: .3s;
        transition-property: color;
        transition-delay: .3s;
    }

    .nav_footer .menu li a:hover {
        color: #0033e8;
    }
}

@media only screen and (min-width: 960px) {

    .wrapper_slide_content:nth-child(2) .slide_content_description {
        width: 540px;
    }

}

@media only screen and (min-width: 1280px) {
    
    .section_title {
        font-size: var(--large-font-size-1);
    }

    .faq_list h3 {
        font-size: var(--medium-font-size-2);
    }

    .faq_list p {
        font-size: var(--normal-font-size-2);
    }

    .wrapper_slide_content:first-child .slide_content {
        width: 80% !important;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    .wrapper_slide_content:nth-child(2) .slide_content {
        width: 90% !important;
    }

    .wrapper_slide_content:last-child .slide_content {
        width: 40% !important;
    }

    section:nth-child(n+4) {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    .advantages_funds_list {
        margin-top: 50px;
    }

    .platform_info_content .section_description {
        width: 425px;
        margin-top: 0;
    }

    .platform_info_content .section_title {
        margin-bottom: 40px;
        text-align: left;
        width: 525px;
    }

    .platform_info_content .btn {
        position: relative;
        left: 0;
        transform: unset;
      }

    .platform_image_demo {
        display: none;
    }

    .platform_info_content {
        position: relative;
        top: 0;
        left: 0;
    }

    .platform_info_content::before {
        content: '';
        position: absolute;
        top: 0;
        right: -50px;
        width: 499px;
        height: 374px;
        background-image: url('../images/platform_demo_499w.png');
    }

    .instruments_list {
        flex-wrap: wrap;
    }

    .instruments_list_item {
        width: 230px;
    }

    .instruments_list_item:nth-child(4) {
        margin-right: 0;
    }

    .instruments_list_item:nth-child(1),
    .instruments_list_item:nth-child(2),
    .instruments_list_item:nth-child(3),
    .instruments_list_item:nth-child(4) {
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .membership_steps_list {
        width: unset;
    }

    .membership_steps_list_item:not(.membership_steps_list_item:last-child) {
        margin-bottom: 0;
    }

    .membership_steps_list_item {
        width: 300px;
        height: 300px;
    }

    .membership_steps_list::before {
        display: none;
    }

    .tiers_content .section_title {
        margin-bottom: 50px;
    }

    .wrapper_faq {
        max-width: 977px;
        justify-content: space-around;
    }

    .faq_list {
        width: 50%;
    }

    footer {
        padding-top: 40px;
    }

    footer .wrapper_logo {
        width: 127px;
        height: 127px;
    }

    .nav_footer,
    .footer_disclaimer_wrapper  {
        margin-left: 223px;
        margin-bottom: 15px;
    }

    .footer_disclaimer_wrapper  {
        width: 67%;
    }

}
