:root {

    /* ---- Design System ---- */
    
    /* Font sizes */

    --normal-font-size-1: 1rem;             /* font-size: 16px */
    --normal-font-size-2: 1.125rem;         /* font-size: 18px */
    --medium-font-size-1: 1.25rem;          /* font-size: 20px */
    --medium-font-size-2: 1.5rem;           /* font-size: 24px */
    --large-font-size-1: 2.5rem;            /* font-size: 40px */
    --large-font-size-2: 3rem;              /* font-size: 48px */
    --normal-line-height-1: 1.32rem;        /* line-height: 21.12px */
    --normal-line-height-2: 1.485rem;       /* line-height: 23.76px */
    --medium-line-height-2: 1.980rem;       /* line-height: 31.69px */
    --large-line-height-1: 3.025rem;        /* line-height: 48.41px */
    --large-line-height-2: 3.63rem;         /* line-height: 58.09px */


    /* Colors */
    
    --main-accent-color-1: #5974ff;                                         /* Pro Tier Card Background, FAQ Category Active Item, FAQ List Item Arrow Icon Active */
    --secondary-accent-color-1: #1741ac;                                    /* Section Title Text Emphasis, Instruction title, Tier Title on white*/
    --secondary-accent-color-2: #1b8de4;                                    /* Icons */
    --secondary-accent-color-3: #70abd7;                                    /* Service Button border, text, icon */
    --dark-text-color-1: #01003a;                                           /* Menu Text */
    --dark-text-color-2: #111111;                                           /* Section Title */ 
    --dark-text-color-3: #303030;                                           /* Icon Titles, FAQ Section: question */ 
    --dark-text-color-4: #484848;                                           /* Instructions Descriptions, Tier Benefits on white */ 
    --dark-text-color-5: #585858;                                           /* Instruments name */ 
    --dark-text-color-6: #454444;                                           /* Instruments price */ 
    --dark-text-color-7: #989898;                                           /* Section Descriptions */ 
    --dark-text-color-8: #707070;                                           /* FAQ Section: answer, Footer Disclaimer */ 
    --dark-text-color-9: #666666;                                           /* FAQ Categories Items on white */ 
    --white-text-color-1: #ffffff;                                          /* Hero Section Title, Main Button Text, Tier Title on blue background, Tier Benefits on blue background, FAQ Section Active Category Text  */ 
    --white-text-color-2: #dddddd;                                          /* Hero Section Description on dark background */ 
    --green-text-color: #1fab2d;                                            /* Instruments Grow Percentage Text and Arrow Up*/ 
    --ghost-button-text: #305aef;                                           /* Blue Ghost Button Text Color*/
    --filled-button-static-color: #305aef;                                  /* Filled Button Static Color */
    --filled-button-hover-color: #3962f4;                                   /* Filled Button Hover Color */   
    --filled-button-active-color: #0033e8;                                  /* Filled Button Active color */
    --ghost-button-static-border-1: #305aef;                                /* Blue Ghost Button Static Border Color and Text Color */
    --ghost-button-hover-background-1: #C4C4C4;                             /* Blue Ghost Button Hover Background Color */
    --ghost-button-active-inner-shadow-1: inset 0px 0px 6px #0033e8;        /* Blue Ghost Button Active Inner Shadow Color */
    --ghost-button-static-border-2: #ffffff;                                /* White Ghost Button Static Border Color */
    --ghost-button-hover-background-2: rgba(220, 221, 222, .12);            /* White Ghost Button Hover Background Color */
    --ghost-button-active-inner-shadow-2: inset 0px 1px 8px #dcddde;        /* White Ghost Button Hover Inner Shadow Color */
    --image-overlay-background: rgba(106, 130, 255, .21);                   /* Hero Image Overlay Background Color */
    --section-overlay-background: #F5F8FF;                                  /* Sections Overlay Background Color */
    --divider-color-1: #e5f3ff;                                             /* Advantages Section Title and Description Divider, Icon and Icons title Divider */
    --divider-color-2: rgba(89, 116, 255, .1);                              /* Tier Benefits Divider on white, FAQ Categories Divider */
    --divider-color-3: rgba(0, 0, 0, .13);                                  /* Tier Benefits Divider on blue */
    --divider-color-4: rgba(170, 170, 170, .19);                            /* FAQ Content Divider */
    --decoration-color-1: rgba(89, 116, 255, .21);                          /* Decoration Color: Section Membership Instructions*/
    --decoration-color-2: #5974ff;                                          /* Decoration Color: Section Membership Instructions Step Numbers, Arrows */
    --decoration-color-3: #010620;                                          /* Decoration Color: Section Tiers Small Square on Background */
    --decoration-color-4: #969696;                                          /* FAQ List Item Arrow Icon Static */

    /* Miscellaneous */

    --main-border-radius: 5px;
    --box-shadow-on-white: 0px 3px 9px rgba(129, 129, 129, 0.15), inset 2px 2px 4px rgba(245, 245, 245, 0.14);
    --box-shadow-on-blue: 0px 3px 11px rgba(129, 129, 129, 0.24), inset 2px 2px 4px rgba(89, 116, 255, 0.19);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;  
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: var(--normal-line-height-1);
}

.wrapper {
    width: 87.5vw;
    margin: auto;
}

.wrapper_logo {
    width: 50px;
    height: 50px;
}

.nav_widescreen {
    display: none;
}

header .btn {
    display: none;
}

.btn {
    display: inline-block;
    font-size: var(--normal-font-size-1);
    font-weight: 700;
    color: var(--ghost-button-text);
}

.menu li a {
    font-size: var(--normal-font-size-2);
    font-weight: 600;
    color: var(--dark-text-color-1);
}

.slide_content_title {
    font-size: var(--medium-font-size-2);
    font-weight: 700;
    line-height: var(--medium-line-height-2);
    color: var(--white-text-color-1);
}

.slide_content_description {
    font-size: var(--normal-font-size-2);
    font-weight: 500;
    line-height: var(--normal-line-height-2);
    color: var(--white-text-color-2);
}

.section_title {
    font-size: var(--medium-font-size-1);
    font-weight: 600;
    line-height: var(--normal-line-height-2);
    color: var(--dark-text-color-2);    
}

.section_description {
    font-size: var(--normal-font-size-1);
    font-weight: 500;
    line-height: var(--normal-line-height-1);
    color: var(--dark-text-color-7);     
}

.slide_content_title,
.section_title,
.btn,
.instruments_list_item_name,
.membership_steps_title {
    text-transform: uppercase;
}

.advantages_funds_item_text {
    font-size: var(--normal-font-size-2);
    font-weight: 700;
    color: var(--dark-text-color-3);
}

.instruments_name {
    font-size: var(--normal-font-size-2);
    font-weight: 600;
    color: var(--dark-text-color-5); 
}

.instruments_price,
.instruments_grow_percentage {
    font-size: var(--normal-font-size-1);
    font-weight: 500;
    color: var(--dark-text-color-6);
}

.instruments_grow_percentage {
    color: var(--green-text-color);
}

.membership_steps_title {
    font-size: var(--medium-font-size-2);
    font-weight: 700;
    color: var(--secondary-accent-color-1);
}

.membership_steps_description {
    font-size: var(--normal-font-size-2);
    font-weight: 500;
    line-height: var(--normal-line-height-2);
    color: var(--dark-text-color-4);   
}

.tier_card_title {
    font-size: var(--medium-font-size-1);
    font-weight: 700;
    color: var(--secondary-accent-color-1);   
}

.tier_card_benefits_title,
.tier_card_benefits_title {
    font-size: var(--normal-font-size-1);
    font-weight: 500;
    color: var(--dark-text-color-4);
}

.faq_list h3 {
    font-size: var(--medium-font-size-1);
    font-weight: 600;
    line-height: var(--normal-line-height-2);
    color: var(--dark-text-color-3);
}

.faq_list p {
    font-size: var(--normal-font-size-1);
    font-weight: 400;
    line-height: var(--normal-line-height-1);
    color: var(--dark-text-color-8);    
}

.faq_category_item_link {
    font-size: var(--normal-font-size-2);
    font-weight: 600;
    color: var(--dark-text-color-9);
}

.footer_disclaimer_text {
    font-size: var(--normal-font-size-2);
    font-weight: 400;
    line-height: var(--normal-line-height-1);
    color: var(--dark-text-color-9);     
}

footer .btn {
    display: none;
}

.wrapper_nav_icon_burger {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

.nav_icon_burger {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 5px;
    background-color: var(--secondary-accent-color-2);
    border-radius: var(--main-border-radius);
}

.nav_icon_burger::before {
    content: '';
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: var(--secondary-accent-color-2);
    border-radius: var(--main-border-radius);
}

.nav_icon_burger::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: var(--secondary-accent-color-2);
    border-radius: var(--main-border-radius);
}

.wrapper_icon_cross {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
}

.icon_cross {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
}

.icon_cross::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000;
    transform: rotate(90deg);
}

header {
    position: relative;
    top: 0;
    left: 0;
}

.nav_header_mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fbfbfb;
    transform: translateY(-360px);
}

.wrapper_header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav_header_mobile .menu-main-menu-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.nav_header_mobile .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav_header_mobile .menu li:nth-child(n+2) {
    margin-top: 40px;
}

